{% extends "NSTicketingBundle::layout.html.twig" %}

{% block title %}Finalisez votre réservation - {{parent()}}{% endblock %}

{% block logo %}            
  <a class="navbar-item" href="{{ path('ns_checkout_exit') }}">
    <span class="title has-text-white">My Ticket</span>
  </a>
{% endblock %} 

{% block stylesheets %}
    {% stylesheets filter="scssphp,cssrewrite" output="css/app.css"
      'bundles/nsticketing/css/common/*.css'  
      'bundles/nsticketing/css/components/*.css'
      'bundles/nscheckout/css/common/*.css'  
      'bundles/nscheckout/css/components/*.css'  
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

  {% include "NSCheckoutBundle:Components:breadcrumbs.html.twig" %}

  <section class="hero is-paddingless">
    <div class="hero-body" style="padding:1rem">
      <div class="container">
        {% include "NSCheckoutBundle:Components:step.html.twig" %}
      </div>
    </div>
  </section>
  {% if form is defined %}
    {{ form_start(form) }}
  {% endif %}
    <section id="step-{{step}}" class="section" data-booking>
      <div class="container">
        <div class="tile is-ancestor" style="align-items:flex-start;">
            <div class="tile is-7 is-vertical is-parent" data-container style="min-height:100vh;justify-content:flex-start;">
              {% block bodyCheckoutLeft %}{% endblock %}
            </div>
            <div class="tile is-parent" data-wrapper>
              <div class="tile is-child" data-sticky>
                {% include "NSCheckoutBundle:Components:card.html.twig" %}        
              </div>
            </div>
        </div>
      </div>
    </section>
  {% if form is defined %}
    {{ form_end(form) }}
  {% endif %}

{% endblock %}

{% block footer %}
  {% include "NSCheckoutBundle:Partials:footer.html.twig" %}        
{% endblock %}

{% block javascript %}
  {% javascripts 
    'bundles/nscheckout/js/common/main.js'  
    'bundles/nscheckout/js/components/*.js'  
  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
