  <footer class="footer">
  
    <div class="container">
      <div class="columns is-gapless is-centered">

        <div class="column is-1">
          <figure class="image is-16by9">
            {% image 'bundles/nsticketing/img/payment-methods/cartebancaire@2x.png'%}
              <img src="{{ asset_url }}" alt="carte bancaire méthode de paiement" />
            {% endimage %}
          </figure>
        </div>
        <div class="column is-1">
          <figure class="image is-16by9">
            {% image 'bundles/nsticketing/img/payment-methods/visa@2x.png'%}
              <img src="{{ asset_url }}" alt="banque contact méthode de paiement" />
            {% endimage %} 
          </figure>
        </div>
        <div class="column is-1">
          <figure class="image is-16by9">
            {% image 'bundles/nsticketing/img/payment-methods/mc@2x.png'%}
              <img src="{{ asset_url }}" alt="banque contact méthode de paiement" />
            {% endimage %} 
          </figure>
        </div>
        <div class="column is-1">
          <figure class="image is-16by9">
            {% image 'bundles/nsticketing/img/payment-methods/ideal@2x.png'%}
              <img src="{{ asset_url }}" alt="banque contact méthode de paiement" />
            {% endimage %} 
          </figure>
        </div>
        <div class="column is-1">
          <figure class="image is-16by9">
            {% image 'bundles/nsticketing/img/payment-methods/maestro@2x.png'%}
              <img src="{{ asset_url }}" alt="banque contact méthode de paiement" />
            {% endimage %} 
          </figure>
        </div>
        <div class="column is-1">
          <figure class="image is-16by9">
            {% image 'bundles/nsticketing/img/payment-methods/bcmc@2x.png'%}
              <img src="{{ asset_url }}" alt="banque contact méthode de paiement" />
            {% endimage %} 
          </figure>
        </div>

      </div>
    </div>
    
  </footer>