{% extends "NSCheckoutBundle::layout.html.twig" %}

{% block title %}Super ! Vous avez presque terminé{% endblock %}

{% block bodyCheckoutLeft %}

  <h1 class="title">Votre mode de paiement</h1>
  
  <div class="tile is-child" style="flex-grow:0;">
    <p>
      Vos tickets sont pré-réservés pour le Musée du Louvre. Pour recevoir vos billets, veuillez régler rapidement votre commande à l'aide de notre mode de paiement sécurisé.
    </p>
  </div>
  <div class="tile is-child" style="flex-grow:0;">
    <p class="subtitle is-5" data-createdat="{{ booking.createdAt|date('Y/m/d H:i:s') }}">Temps restant pour effectuer votre paiement : <span id="timer_minutes">20</span>m <span id="timer_seconds">0</span>s</p>  
  </div>

  {% include "NSTicketingBundle:Components:flashes.html.twig" %}

  <div id="field-userMail" class="tile is-child" style="flex-grow:0;">
    <div class="field ">
      <label class="email">Adresse mail</label>
      <div class="control">
        
        {% if form_errors(form.userMail) %} 
          {{ form_widget(form.userMail, {'attr': {'class': 'input is-medium is-danger'}}) }}
        {% else %}
          {{ form_widget(form.userMail, {'attr': {'class': 'input is-medium'}}) }}
        {% endif %}
      </div>
      <p class="help">Nous vous enverrons vos billets à cette adresse mail.</p>
      <div class="help is-danger">{{ form_errors(form.userMail) }}</div>
    </div>
  </div>

  <div id="field-userMail" class="tile is-child" style="flex-grow:0;">
    <div class="field ">
      <label class="email">Nom inscrit sur la carte</label>
      <div class="control">
        {% if form_errors(form.userMail) %} 
          {{ form_widget(form.userName, {'attr': {'class': 'input is-medium is-danger'}}) }}
        {% else %}
          {{ form_widget(form.userName, {'attr': {'class': 'input is-medium'}}) }}
        {% endif %}
      </div>
      <div class="help is-danger">{{ form_errors(form.userName) }}</div>
      {# <p class="help">Nous vous enverrons vos billets à cette adresse mail.</p> #}
    </div>
  </div>

  <div id="field-card" class="tile is-child" >
    <div class="field">
      <label class="card-element">Numéro de carte</label>
      <!-- a Stripe Element will be inserted here. -->
      <div id="card-element" style="height: 45px;"></div>
      <!-- Used to display form errors -->
      <p id="card-errors" role="alert" class="help"></p>
    </div>
  </div>


 <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block javascript %}
  {% javascripts 
    'bundles/nscheckout/js/common/main.js'  
    'bundles/nscheckout/js/components/stripe.js'
    'bundles/nscheckout/js/components/timer.js'
  %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
